/*styles for home content only*/
.grid{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .calculators{
    margin-top: 2em;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .consumption-summary{
    margin-top: 2em;
  }
}
