<div class="grid">

  <div></div>
  <food-search class="food-search"></food-search>
  <div></div>
  <div></div>
  <consumption-summary class="consumption-summary"></consumption-summary>
  <div></div>
  <!--<calculators></calculators>-->
  <calculators class="calculators"></calculators>

  <!--<div>-->
  <!--<h4>Local State</h4>-->

  <!--<form (ngSubmit)="submitState(localState.amount)" autocomplete="off">-->

  <!--<input-->
  <!--[amount]="localState.amount"-->
  <!--(input)="localState.amount = $event.target.amount"-->
  <!--placeholder="Submit Local State to App State"-->
  <!--autofocus>-->

  <!--<button>Submit Value</button>-->
  <!--</form>-->
  <!--&lt;!&ndash;-->
  <!--<input type="text" [amount]="localState.amount" (input)="localState.amount = $event.target.amount" autofocus>-->
  <!--Rather than wiring up two-way data-binding ourselves with [amount] and (input)-->
  <!--we can use Angular's [(ngModel)] syntax-->
  <!--<input type="text" name="textInput" [(ngModel)]="localState.amount" autofocus>-->
  <!--&ndash;&gt;-->

  <!--<pre>this.localState = {{ localState | json }}</pre>-->

  <!--</div>-->

</div>
